include LICENSE
include scrapyd/VERSION
include scrapyd/default_scrapyd.conf
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include scrapyd *.py
recursive-include scrapyd *.egg
