boto3==1.34.26
datadog==0.48.0
demjson3==3.0.6
fontTools==4.47.2
mysqlclient==2.2.1
psycopg2-binary==2.9.9
itemloaders==1.1.0
git+https://github.com/cazana/scrapyd.git
Scrapy==2.11.0
scrapy-proxies==0.4
