boto3==1.20.24
datadog==0.43.0
demjson==2.2.4
fontTools==4.28.3
mysqlclient==2.1.0
psycopg2-binary==2.9.2
itemloaders==1.0.4
git+https://github.com/cazana/scrapyd.git
Scrapy==2.6.2
scrapy-proxies==0.4
