Source: scrapyd-SUFFIX
Section: python
Priority: optional
Maintainer: Scrapinghub Team <info@scrapinghub.com>
Build-Depends: debhelper (>= 7.0.50), python (>=2.6), python-twisted, python-w3lib, python-lxml
Standards-Version: 3.8.4
Homepage: http://scrapy.org/

Package: scrapyd-SUFFIX
Architecture: all
Depends: scrapy, python-setuptools
Conflicts: scrapyd
Provides: scrapyd
Description: Scrapy Service
 The Scrapy service allows you to deploy your Scrapy projects by building
 Python eggs of them and uploading them to the Scrapy service using a JSON API
 that you can also use for scheduling spider runs. It supports multiple
 projects also.
