{% extends "templates/base.jinja" %}

{% block title %}Scrapyd{% endblock %}

{% block activation %}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/jobs">Jobs</a></li>
    <li><a href="/items">Items</a></li>
    <li><a href="/logs">Logs</a></li>
{% endblock %}

{% block content %}

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Available Projects</h1>
        <p class="lead"> <b>{{ projects }}</b> </p>
    </div>
    <div class="item">
        <h2>How to schedule a spider?</h2>

        <p>To schedule a spider you need to use the API (this web UI is only for
        monitoring)</p>

        <p>Example using <a href="http://curl.haxx.se/">curl</a>:</p>
        <p><code>curl http://localhost:6800/schedule.json -d project=default -d spider=somespider</code></p>

        <p>For more information about the API, see the
        <a href="http://scrapyd.readthedocs.org/en/latest/">Scrapyd documentation</a></p>
    </div>
{% endblock %}